extends layout 

block content 
  h1=  title

  h3 Overview
  if error
    p Error getting dynamic content.
  else
    p #[strong Number of records:] !{count}

  h3 Data
  p
    table
      tr 
        th Name
        th Birthdate 
        th Age 
        th Gender
        th Ship
        th Plantation 
        th Buyer
        th Reference 
      each slave in slave_list
        tr
          td #{slave.full_name}
          td #{slave.birthdate}
          td #{slave.age}
          td #{slave.gender}
          td #{slave.ship}
          td #{slave.plantation_name}
          td #{slave.buyer_name}
          td 
            a(href=slave.reference_url) Link
      //else
      //  li There are no entries.


